{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Chewy">
    <link rel="stylesheet" type="text/css" href="{% static "css/trepodromo.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap4/css/bootstrap.css" %}">
    <script type="text/javascript" src="{% static "js/jquery-3.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/scripts.js" %}"></script>
    <script type="text/javascript" src="{% static "bootstrap4/js/bootstrap.min.js" %}"></script>
    <link rel="icon" type="image/png" href="{% static "css/img/favicon.png" %}">
</head>
<body>
    <div class="header">
        <a href="/">
            <section  class="container-fluid d-flex justify-content-center cover">
                <div class="content-center"></div>
            </section>
        </a>
        <nav class="d-none d-md-block">
            <ul class="center">
                <li><a class="home" href="/"></a></li>
                <li><a class="escalada" href="/escalada">Escalada</a></li>
                <li><a class="clases" href="/clases">Clases</a></li>
                <li><a class="cursos" href="/cursos">Cursos</a></li>
                <li><a class="eventos" href="/eventos">Eventos</a></li>
                <li><a class="fotos" href="/fotos">Fotos</a></li>
                <li><a class="quienes_somos" href="/quienes_somos">Quienes Somos</a></li>
                <li><a class="contacto" href="/contacto">Contacto</a></li>
                <li><a class="fb" href="https://www.facebook.com/trepodromo.mdz/" target="_blank"></a></li>
            </ul>
        </nav>
    </div>
    <div class="home-content">
        {% block home %}{% endblock home %}
    </div>
    <div class="content">
        {% block clases %}{% endblock clases %}
        {% block cursos %}{% endblock cursos %}
        {% block escalada %}{% endblock escalada %}
        {% block eventos %}{% endblock eventos %}
        {% block fotos %}{% endblock fotos %}
        {% block quienes_somos %}{% endblock quienes_somos %}
        {% block tienda %}{% endblock tienda %}
        {% block contacto %}{% endblock contacto %}
    </div>
    <div class="footer d-none d-md-block">
        <p class="footer-text">© 2017 Trepodromo. Todos los derechos reservados.
            <a href="http://www.facebook.com/vadimshenlung" target="_blank">@vadim</a></p>
    </div>
    <div class="footer footer-mobile d-md-none">
        <span><a class="fb-mobile" href="https://www.facebook.com/trepodromo.mdz/" target="_blank"></a></span>
        <button type="button" class="menu-mobile" data-toggle="modal" data-target="#exampleModalCenter">
        </button>

    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-menu">
                <div class="modal-body">
                    <a class="modal-menu-link escalada" href="/escalada">Escalada</a>
                    <hr class="hr">
                    <a class="modal-menu-link clases" href="/clases">Clases</a>
                    <hr class="hr">
                    <a class="modal-menu-link cursos" href="/cursos">Cursos</a>
                    <hr class="hr">
                    <a class="modal-menu-link eventos" href="/eventos">Eventos</a>
                    <hr class="hr">
                    <a class="modal-menu-link fotos" href="/fotos">Fotos</a>
                    <hr class="hr">
                    <a class="modal-menu-link quienes_somos" href="/quienes_somos">Quienes Somos</a>
                    <hr class="hr">
                    <a class="modal-menu-link contacto" href="/contacto">Contacto</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
