{% extends "base.html" %}
{% load staticfiles %}
{% block clases %}
<div class="container info-content">
    <h1 class="text-center title">Clases</h1>
    <p class="mx-auto">
        En nuestra palestra ofrecemos clases guiadas tanto para niños como para adultos, con o sin experiencia previa. En ellas se “aprende a escalar” a partir del desarrollo de técnicas propias del deporte y el entrenamiento físico integral.
    </p>
    <div class="mx-auto datagrid table_green">
        <table>
            <thead>
                <tr><th>Días</th><th>Mañana</th><th>Tarde</th></tr>
            </thead>
            <tbody>
                <tr class="field"><td>Adultos:</td></tr>
                <tr class="alt"><td>Lunes</td><td>-</td><td>-</td></tr>
                <tr><td>Martes</td><td>-</td><td>18.30 a 19.30 horas</td></tr>
                <tr class="alt"><td>Miércoles</td><td>-</td><td>-</td></tr>
                <tr><td>Jueves</td><td>-</td><td>18.30 a 19.30 horas</td></tr>
                <tr class="alt"><td>Viernes</td><td>-</td><td>-</td></tr>
                <tr class="field"><td>Niños:</td></tr>
                <tr class="alt"><td>Lunes</td><td>-</td><td>-</td></tr>
                <tr><td>Martes</td><td>-</td><td>17.30 a 18.30 horas</td></tr>
                <tr class="alt"><td>Miércoles</td><td>-</td><td>-</td></tr>
                <tr><td>Jueves</td><td>-</td><td>17.30 a 18.30 horas</td></tr>
                <tr class="alt"><td>Viernes</td><td>-</td><td>-</td></tr>
        </table>
    </div>
    <h1 class="text-center title">Precios</h1>
    <div class="mx-auto datagrid table_violeta">
        <table>
            <thead>
                <tr><th>Asistencia:</th><th>Precios:</th</tr>
            </thead>
            <tbody>
                <tr><td>Clase</td><td>$75</td></tr>
                <tr class="alt"><td>Clases Adultos + Muro libre</td><td>$450</td></tr>
                <tr><td>Clases Niños + Muro libre</td><td>$350</td></tr>
            </tbody>
        </table>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/clases/clases_1.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/clases/clases_2.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/clases/clases_3.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <!-- <div class="image-mobile-content d-flex flex-column d-md-none">
        <div class="image-mobile"><img class="img" src="{% static "img/clases/clases_1_min.jpg" %}" alt="Clases"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/clases/clases_2_min.jpg" %}" alt="Clases"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/clases/clases_3_min.jpg" %}" alt="Clases"></div>
    </div> -->
</div>
{% endblock clases %}
