{% extends "base.html" %}
{% load staticfiles %}
{% block cursos %}
<div class="container info-content">
    <h1 class="text-center title">Cursos</h1>
    <div class="mx-auto">
        <p><strong>Iniciación a la Escalada Deportiva:</strong></p>
        <p>
            <strong><small>Un módulo teórico:</small></strong> en donde se entrega un cuadernillo para estudiar las características de este estilo de escalada, materiales, dispositivos de seguridad y factores de riesgo.
        </p>
        <p>
            <strong><small>Un módulo práctico:</small></strong> en donde se realizan un par de salidas a la montaña (Potrerillos, El salto, Agua de las Avispas) para aplicar todo el conocimiento teórico adquirido y escalar en la roca de manera guiada y segura. Se enseña a escalar con cuerda paredes que no superan los 25 metros.
        </p>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            {% for url in deportiva_desktop_images_urls %}
                <div class="col">
                    <img class="img-fluid rounded float-left img" src={{url}} data-target="#myModal" data-toggle="modal">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="mx-auto second-title">
        <p><strong>Curso de Escalada de Multilargos:</strong></p>
        <p>
            Este curso cuenta también con una parte teórica y una práctica en la montaña (Cajón de los Arenales). Para realizar el curso de multilargos se necesita experiencia previa en la escalada deportiva. Se escalan paredes de más de 25 metros.
        </p>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            {% for url in multilargo_desktop_images_urls %}
                <div class="col">
                    <img class="img-fluid rounded float-left img" src={{url}} data-target="#myModal" data-toggle="modal">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="img-mobile-content d-md-none">
        {% for url in multilargo_mobile_images_urls %}
            <div class="row">
                <div class="col">
                    <img class="img-fluid rounded float-left img w-100" src={{url}} data-target="#myModal" data-toggle="modal">
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock cursos %}
