{% extends "base.html" %}
{% load staticfiles %}
{% block cursos %}
<div class="container info-content">
    <h1 class="text-center title">Cursos</h1>
    <div class="mx-auto">
        <p><strong>Iniciación a la Escalada Deportiva:</strong></p>
        <p>
            <strong><small>Un módulo teórico:</small></strong> en donde se entrega un cuadernillo para estudiar las características de este estilo de escalada, materiales, dispositivos de seguridad y factores de riesgo.
        </p>
        <p>
            <strong><small>Un módulo práctico:</small></strong> en donde se realizan un par de salidas a la montaña (Potrerillos, El salto, Agua de las Avispas) para aplicar todo el conocimiento teórico adquirido y escalar en la roca de manera guiada y segura. Se enseña a escalar con cuerda paredes que no superan los 25 metros.
        </p>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/deportiva/deportiva_1.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/deportiva/deportiva_2.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/deportiva/deportiva_3.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
    <!-- <div class="image-mobile-content d-flex flex-column d-md-none">
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/deportiva/deportiva_1_min.jpg" %}" alt="Cursos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/deportiva/deportiva_2_min.jpg" %}" alt="Cursos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/deportiva/deportiva_3_min.jpg" %}" alt="Cursos"></div>
    </div> -->
    <div class="mx-auto">
        <p><strong>Curso de Escalada de Multilargos:</strong></p>
        <p>
            Este curso cuenta también con una parte teórica y una práctica en la montaña (Cajón de los Arenales). Para realizar el curso de multilargos se necesita experiencia previa en la escalada deportiva. Se escalan paredes de más de 25 metros.
        </p>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/multilargo/multilargo_1.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/multilargo/multilargo_2.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/cursos/multilargo/multilargo_3.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
    <!-- <div class="image-mobile-content d-flex flex-column d-md-none">
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/multilargo/multilargo_1_min.jpg" %}" alt="Cursos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/multilargo/multilargo_2_min.jpg" %}" alt="Cursos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/cursos/multilargo/multilargo_3_min.jpg" %}" alt="Cursos"></div>
    </div> -->
</div>
{% endblock cursos %}
