{% extends "base.html" %}
{% load staticfiles %}
{% block escalada %}
<div class="container info-content">
    <h1 class="text-center title">Escalada</h1>
    <p class="mx-auto">
        El estilo de escalada que se practica en nuestra palestra es “boulder”. Este estilo se caracteriza por escalar piedras grandes pero no lo suficientemente altas como para necesitar cuerda. En nuestro muro se escala en forma libre (sin cuerda) sobre colchones y el alto de la pared es inferior a los cuatro metros.
    </p>
    <div class="mx-auto datagrid table_blue">
        <table>
            <thead>
                <tr><th>Días</th><th>Mañana</th><th>Tarde</th></tr>
            </thead>
            <tbody>
                <tr><td>Lunes</td><td>-</td><td>18 a 22 horas</td></tr>
                <tr class="alt"><td>Martes</td><td>10.30 a 13 horas</td><td>18 a 22 horas</td></tr>
                <tr><td>Miércoles</td><td>-</td><td>18 a 22 horas</td></tr>
                <tr class="alt"><td>Jueves</td><td>10.30 a 13 horas</td><td>18 a 22 horas</td></tr>
                <tr><td>Viernes</td><td>-</td><td>18 a 22 horas</td></tr>
            </tbody>
        </table>
    </div>
    <h1 class="text-center title">Precios</h1>
    <div class="mx-auto datagrid table_violeta">
        <table>
            <thead>
                <tr><th>Asistencia:</th><th>Precios:</th</tr>
            </thead>
            <tbody>
                <tr><td>Muro libre</td><td>$350</td></tr>
                <tr class="alt"><td>Medio mes</td><td>$220</td></tr>
                <tr><td>Día</td><td>$75</td></tr>
            </tbody>
        </table>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/escalada/escalada_1.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded mx-auto img" src="{% static "img/escalada/escalada_2.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-right img" src="{% static "img/escalada/escalada_3.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
    <div class="img-mobile-content d-md-none">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img w-100" src="{% static "img/escalada/escalada_1_min.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img w-100" src="{% static "img/escalada/escalada_2_min.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img w-100" src="{% static "img/escalada/escalada_3_min.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
</div>
{% endblock escalada %}
