{% extends "base.html" %}
{% load staticfiles %}
{% block eventos %}
<div class="data">
    <h1 class="title">Eventos</h1>
    <p class="description">Frente al entusiasmo por escalar y con el fin de estrechar lazos entre escaladores y fomentar el deporte, realizamos diferentes eventos a lo largo del año abiertos a todo público. Dichos eventos cuentan con diferentes propuestas de boulders, actividades recreativas, música y sorteos.
    </p>
    <div class="block">
        {% for url in images_urls %}
            <img class="img" src={{ url }} alt="Eventos">
        {% endfor %}
    </div>
</div>
{% endblock eventos %}
