{% extends "base.html" %}
{% load staticfiles %}
{% block eventos %}
<div class="container info-content">
    <h1 class="text-center title">Eventos</h1>
    <p class="mx-auto">Frente al entusiasmo por escalar y con el fin de estrechar lazos entre escaladores y fomentar el deporte, realizamos diferentes eventos a lo largo del año abiertos a todo público. Dichos eventos cuentan con diferentes propuestas de boulders, actividades recreativas, música y sorteos.
    </p>
    <div class="image-section d-none d-md-block">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_1.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_2.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_3.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
    <div class="image-section d-none d-md-block">
        <div class="row">
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_4.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_5.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
            <div class="col">
                <img class="img-fluid rounded float-left img" src="{% static "img/eventos/eventos_6.jpg" %}" data-target="#myModal" data-toggle="modal">
            </div>
        </div>
    </div>
    <!-- <div class="image-mobile-content d-flex flex-column d-md-none">
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_1_min.jpg" %}" alt="Eventos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_2_min.jpg" %}" alt="Eventos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_3_min.jpg" %}" alt="Eventos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_4_min.jpg" %}" alt="Eventos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_5_min.jpg" %}" alt="Eventos"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/eventos/eventos_6_min.jpg" %}" alt="Eventos"></div>
    </div> -->
</div>
{% endblock eventos %}
