{% extends "base.html" %}
{% load staticfiles %}
{% block fotos %}
<div class="container info-content">
    <h1 class="text-center title">Fotos</h1>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_1.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_2.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_3.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_4.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_5.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_6.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_7.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_8.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_9.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_10.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_11.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_12.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_13.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_14.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_15.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_16.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_17.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_18.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_19.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_20.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_21.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_22.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_23.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_24.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>
    <div class="row image-section">
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_25.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_26.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_27.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
        <div class="col">
            <img class="img-fluid rounded float-left img" src="{% static "img/fotos/fotos_28.jpg" %}" data-target="#myModal" data-toggle="modal">
        </div>
    </div>

    <!-- <div class="image-mobile-content d-flex flex-column d-md-none">
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_1_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_2_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_3_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_4_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_5_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_6_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_7_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_8_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_9_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_10_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_11_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_12_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_13_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_14_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_15_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_16_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_17_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_18_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_19_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_20_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_21_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_22_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_23_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_24_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_25_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_26_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_27_min.jpg" %}"></div>
        <div class="image-mobile"><img class="img" src="{% static "img/fotos/fotos_28_min.jpg" %}"></div>
    </div> -->
</div>
{% endblock fotos %}
