{% extends "base.html" %}
{% load staticfiles %}
{% block home %}
<div class="data">
     <div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:800px;margin:0px auto 56px;">
         <div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
             <ul class="amazingslider-slides" style="display:none;">
                 <li><img src="{% static "img/slide_img/1.jpg" %}" alt="1"  title="1" />
                 </li>
                 <li><img src="{% static "img/slide_img/2.jpg" %}" alt="2"  title="2" />
                 </li>
                 <li><img src="{% static "img/slide_img/3.jpg" %}" alt="3"  title="3" />
                 </li>
                 <li><img src="{% static "img/slide_img/4.jpg" %}" alt="4"  title="4" />
                 </li>
                 <li><img src="{% static "img/slide_img/5.jpg" %}" alt="5"  title="5" />
                 </li>
                 <li><img src="{% static "img/slide_img/6.jpg" %}" alt="6"  title="6" />
                 </li>
                 <li><img src="{% static "img/slide_img/7.jpg" %}" alt="7"  title="7" />
                 </li>
             </ul>
             <ul class="amazingslider-thumbnails" style="display:none;">
                 <li><img src="{% static "img/slide_img/1-tn.jpg" %}" alt="1" title="1" /></li>
                 <li><img src="{% static "img/slide_img/2-tn.jpg" %}" alt="2" title="2" /></li>
                 <li><img src="{% static "img/slide_img/3-tn.jpg" %}" alt="3" title="3" /></li>
                 <li><img src="{% static "img/slide_img/4-tn.jpg" %}" alt="4" title="4" /></li>
                 <li><img src="{% static "img/slide_img/5-tn.jpg" %}" alt="5" title="5" /></li>
                 <li><img src="{% static "img/slide_img/6-tn.jpg" %}" alt="6" title="6" /></li>
                 <li><img src="{% static "img/slide_img/7-tn.jpg" %}" alt="7" title="7" /></li>
             </ul>
         </div>
     </div>
     <div class="address">
         <p>Lunes a Viernes 18 a 22 hs</p>
         <p>Av. Boulogne Sur Mer 520, Mendoza, Argentina </p>
     </div>
 </div>
{% endblock home %}