{% extends "base.html" %}

{% block quienes_somos %}
<div class="data">
    <h1 class="title">Quiénes Somos</h1>
    <div class="description">
        <p>Trepodromo es una palestra de escalada inaugurada en el año 2015. Está ubicada al lado del parque Generál San Martin, que es el espacio natural más grande dentro de la Ciudad de Mendoza.
        </p>
        <p>
        Nuestro objetivo es aportar al desarrollo de la escalada como deporte y como forma de vida desde nuestro aprendizaje y experiencia en la montaña.
        </p>
        <p>
        Como escaladores queremos transmitir este hermoso deporte a todas aquellas personas que se sientan interesadas en practicarlo y acercarlo al público en general.
        Para nosotros la escalada es un deporte que nos apasiona pero además es un estilo de vida ya que promueve valores tales como el altruismo, el respeto, el amor por la naturaleza, así como también el desafío de superación personal.
        </p>
    </div>
</div>
{% endblock quienes_somos %}
