:root {
    --text-shadow-color: #6d6d6d;
    --section-color: #B0DB7B;
    --text-color: #313131;
    --white-color: #fff;
}
.body-info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #E2E2E2;
    background: url("img/confectionary.png") repeat;
    color: var(--text-color);
}
.header {
    overflow: hidden;
    position: fixed;
    z-index:1000;
    top: 0;
    width: 100%;
    background-color: var(--section-color);
}
.footer {
    font-size: 15px;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index:1000;
    bottom: 0;
    background-color: var(--section-color);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.footer-text {
    font-size: 15px;
    margin: 8px;
}
.footer-text a {
    text-decoration: none;
    color: var(--text-color);
}
.menu-link {
    color: var(--text-color);
    font-family: 'Chewy', serif;
    font-size: 28px;
    text-align: center;
    padding: 0 6px;
    text-decoration: none;
}
.menu-link:hover {
    transform: scale(1.15, 1.15);
    -webkit-transition: transform 0.2s;
    text-decoration: none;
    -webkit-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
    -webkit-transition: transform 0.2s;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    transition: transform 0.2s;
}
.fb {
    width: 38px;
    height: 32px;
    margin-top: 10px;
    margin-left: 30px;
    background: url('img/fb.png')  no-repeat center;
    outline: 0;
}
.home {
    width: 32px;
    height: 30px;
    margin-top: 10px;
    background: url('img/home.png') no-repeat center;
    outline: 0;
}
.menu-link-color {
    color: var(--text-color);
}
.menu {
    background-color: var(--section-color);
}
.cover {
    height: 198px;
    background-image: url('img/cover_desktop.jpg');
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
}
.gallery-spacing {
    margin-top: 290px;
}
.address {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}
.padding-lr-cero {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.menu-img{
    opacity: 0.5;
    border-top: 1px solid #737373;
    border-bottom: 1px solid #d7d7d7;
    filter: grayscale(100%);
}
.menu-mobile-link:active .menu-img {
    opacity: 0.8;
    filter: grayscale(0);
}
.menu-mobile-link:active .escalada{
    color: #ff3300;
}
.menu-mobile-link:active .clases{
    color: #037ECf;
}
.menu-mobile-link:active .cursos{
    color: #ff0000;
}
.menu-mobile-link:active .eventos{
    color: #ff6600;
}
.menu-mobile-link:active .fotos{
    color: #ff0080;
}
.menu-mobile-link:active .quienes_somos{
    color: #ff5100;
}
.menu-mobile-link:active .contacto{
    color: #002fff;
}
.escalada:hover {
    color: #ff3300;
}
.clases:hover {
    color: #037ECf;
}
.cursos:hover {
    color: #ff0000;
}
.eventos:hover {
    color: #ff6600;
}
.fotos:hover {
    color: #ff0080;
}
.quienes_somos:hover {
    color: #ff5100;
}
.contacto:hover {
    color: #002fff;
}
.fb-mobile {
    width: 42px;
    height: 37px;
    margin-top: 6px;
    position: absolute;
    background: url('img/fb_mobile.png') no-repeat center;
    outline: 0 !important;
    left: 16px;
}
.menu-mobile-icon {
    width: 41px;
    height: 26px;
    margin-top: 12px;
    position: absolute;
    background: url('img/menu_mobile.png') no-repeat center;
    outline: 0 !important;
    right: 16px;
    border: none;
}
.footer-mobile {
    height: 50px;
    position: fixed;
    z-index:1000;
    bottom: 0;
    background-color: var(--section-color);
}
.menu-mobile {
    margin-top: 1px;
    margin-bottom: 50px;
}
.img-link-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #424242;
    font-family: 'Chewy', serif;
    font-size: 2em;
    text-decoration: none;
}
.menu-mobile-link {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}
.modal-menu {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 182px;
    height: 328px;
    pointer-events: auto;
    background-color: var(--section-color);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 20px 0 0 20px;
    outline: 0;
    right: 0;
    bottom: 34px;
}
.modal-menu-link {
    display: block;
    color: #444;
    font-family: 'Chewy', serif;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 9px;
    text-decoration: none;
}
.modal-menu-link:active {
    font-size: 24px;
    text-decoration: none;
}
.modal-menu-link:focus {
    text-decoration: none;
}
.hr-modal-menu {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #808080;
    width: 94%;
}
/* Table Style Start */
.datagrid {
    font: normal 12px/150% Georgia, Times New Roman, Times, serif;
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.datagrid table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}
.datagrid table td, .datagrid table th {
    padding: 8px 10px;
}
.datagrid table thead th {
    font-size: 18px;
    font-weight: bold;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    font-size: 16px;
    font-weight: normal;
}
.datagrid table tbody td:first-child {
    border-left: none;
}
.datagrid table tbody tr:last-child td {
    border-bottom: none;
}
.field {
    background-color: var(--section-color);
}
.table_blue {
    background: #fff;
    border: 1px solid #006699;

}
.table_blue table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F));
    background: -moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699;
    color:#FFFFFF;
    border-left: 1px solid #0070A8;

}
.table_blue table tbody td {
    color: #00557F;
    border-left: 1px solid #F0F0F0;
}
.table_blue table tbody .alt td {
    background: #E1EEf4;
    color: #00557F;
}
.table_green {
    background: #fff;
    border: 1px solid #36752D;

}
.table_green table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #36752D), color-stop(1, #275420));
    background: -moz-linear-gradient( center top, #36752D 5%, #275420 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
    background-color:#36752D;
    color:#FFFFFF;
    border-left: 1px solid #36752D;

}
.table_green table tbody td {
    color: #275420;
    border-left: 1px solid #C6FFC2;
}
.table_green table tbody .alt td {
    background: #DFFFDE;
    color: #275420;
}
.table_violeta {
    background: #fff;
    border: 1px solid #652299;

}
.table_violeta table thead th {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #652299), color-stop(1, #4D1A75));
    background: -moz-linear-gradient( center top, #652299 5%, #4D1A75 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#652299', endColorstr='#4D1A75');
    background-color:#652299;
    color:#FFFFFF;
    border-left: 1px solid #714399;

}
.table_violeta table tbody td {
    color: #4D1A75;
    border-left: 1px solid #E7BDFF;
}
.table_violeta table tbody .alt td {
    background: #F4E3FF;
    color: #4D1A75;
}
/* Table Style Fin */
.info-content {
    margin-top: 288px;
    margin-bottom: 100px;
}
.title {
    padding: 30px 0;
    text-shadow: 1px 1px 8px var(--text-shadow-color);
    font-weight: bold;
    font-size: 1.9em;
    color: #333;
}
.image-section {
    margin-top: 76px;
}
.image-event-block {
    margin: 60px 0;
}
.img {
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 6px 6px 14px rgba(0,0,0,.25);
    border: 2px solid #fff;
}
.map {
    width: 100%;
    height: 450px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.modal-image {
    background-color: initial !important;
    border: none !important;
}
.modal-dialog-none-max-width {
    max-width: none !important;
}
.close-button {
    font-size: 28px !important;
    margin-left: 6px;
    margin-top: -32px;
    color: #e0e0e0 !important;
    opacity: 1 !important;
    text-shadow: none !important;
    outline: none !important;
}
.img-mobile-content {
    margin-top: 14px;
}
.mw-75 {
    max-width: 75% !important;
}
.info_title {
    font-weight: bold;
}
.email_failed {
    text-align: center;
    color: #FF002AF0;
}
input[type=text], input[type=email], textarea {
    margin-top: 8px;
    margin-bottom: 14px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}
input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none !important;
    border: 1px solid #037ECfcc;
}
::-webkit-input-placeholder {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
input[type=submit] {
    margin-top: 8px;
    width: 120px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    color: #191919;
    background-color: #037ECf;
}
input[type=submit]:hover {
    background-color: #ff6600;
}
input[type=submit]:focus {
    outline: 0;#c2c2c2
}
.small_title {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: smaller;
    font-weight: bold;
}
.info {
    margin: 0px;
    font-size: 16px;
    margin: 1px;
}
.contacto-content {
    margin-top: 32px;
}
.gallery {
    border: 6px solid #e2e2e2;
    border-radius: 6px;
    box-shadow: 6px 6px 20px #c2c2c2;
}
.second-title {
    margin-top: 60px;
}
@media (min-width: 200px) and (max-width: 768px) {
    .cover {
        height: 100px;
        background-image: url('img/cover_mobile.jpg');
    }
    .cover-width {
        width: 900px;
    }
    .gallery-spacing {
        margin-top: 101px;
        max-width: 100% !important;
    }
    .info-content {
        margin-top: 100px;
        margin-bottom: 70px;
    }
    .img {
        margin-top: 2px;
    }
    .align-center-image-content {
        -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
        -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
        justify-content: center !important;
    }
    .close-button {
        margin-left: 10px;
        margin-top: -10px;
        margin-bottom: 10px;
    }
    .modal-dialog {
        max-width: none !important;
    }
    .gallery {
        border: none;
        border-radius: none;
        box-shadow: none;
    }
    .second-title{
        margin-top: 0;
    }
    .image-event-block {
        margin: 34px 0;
    }
}
@media (min-width: 200px) and (max-width: 450px) {
    .mw-75 {
        max-width: none !important;
    }
    .modal-menu {
        right: -8px;
        bottom: -16px;
    }
}
@media (min-width: 451px) and (max-width: 768px) {
    .modal-menu {
        right: 0;
        bottom: -56px;
    }
}
@media (min-width: 1200px) {
    .gallery-spacing {
        max-width: 1016px !important;
    }
}
